/* Stardom 폰트 등록 */
@font-face {
  font-family: 'Stardom';
  src: url('{{ site.baseurl }}/assets/fonts/stardom/Stardom-Regular.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/stardom/Stardom-Regular.woff') format('woff'),
       url('{{ site.baseurl }}/assets/fonts/stardom/Stardom-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 히어로 영역 제목만 Stardom 적용 */
.page__hero--overlay .page__title,
.page__hero--overlay .page__lead {
  font-family: 'Stardom', serif;
}
