@font-face {
  font-family: 'Stardom';
  src: url('/assets/fonts/stardom/Stardom-Regular.woff2') format('woff2'),
       url('/assets/fonts/stardom/Stardom-Regular.woff') format('woff'),
       url('/assets/fonts/stardom/Stardom-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.main-visual {
  position: relative;
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

.main-visual img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  display: block;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.main-text h1 {
  font-size: 3rem;
  margin-bottom: 12px;
}

.main-text p {
  font-size: 1.2rem;
}
